.uploadform {
  padding: 24px;

  min-width: 300px;
  max-width: 950px;

  margin: 0 auto;
}

.uploadform form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.uploadform input,
.uploadform textarea {
  width: 80%;
}

.uploadform label {
  padding-top: 12px;
}

.uploadform input {
  height: 30px;
}

.container {
  padding: 24px;
}

.container h1 {
  padding-bottom: 8px;
  border-bottom: solid 3px black;
}
