*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 1.125rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #333;
  color: #fff;
  align-content: baseline;
}

nav a {
  text-decoration: none;
  margin: 0 8px;
  font-size: 1.2rem;
  color: #fff;
}

nav a:visited {
  color: #fff;
}

.navLinks {
  align-self: center;
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
}
